
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Yusei+Magic&display=swap');

html, body {
	margin: 0;
	height: 100%;
	background-image: url("background.jpg");
	/* background-color: #c6dbdd;  */
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




