* {
  box-sizing: border-box;
}

#myInput {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 23px 20px;
  width: 30%;
  font-size: 14px;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 6px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

td {
  padding: 10px;
  border: 1px solid grey;
}
#myTable tbody tr:nth-child(n):hover {
  background-color: #BFC0C2;
}

.tabela1  tbody > :nth-of-type(even) {
  background: #bee3f8; !important
}

.tabela2 tbody > :nth-of-type(even) {
  background: #a6f9c2; !important
}

.tabela3 tbody > :nth-of-type(even) {
  background: #eeb6a8; !important
}

#myTable .table1 td {
	background: linear-gradient(to bottom, #1CB5E0, #000046);
	height: 50px;
	font-size: 16px;
	font-weight:bold;
	color: white;
}

#myTable .table2 td {
	background: linear-gradient(to bottom, #52c234, #061700); 
	height: 50px;
	font-size: 16px;
	font-weight:bold;
	color: white;
}

#myTable .table3 td {
	background: linear-gradient(to bottom, #fffbd5, #b20a2c); 
	height: 50px;
	font-size: 16px;
	font-weight:bold;
	color: white;
}

/* #myTable tr:hover {
  background-color: #c0c0c0;
} */
